.vbo-views-form thead .form-type-checkbox {
  margin-bottom: 0;
}

/* "Select all" for table styles. */
.vbo-select-all {
  display: none;
}
.vbo-select-all-markup {
  display: none;
}
.views-row-select-all {
  text-align: center;
  display: none;
}
td .vbo-select-all-pages, td .vbo-select-this-page {
  margin: 0 !important;
  padding: 2px 5px !important;
}

/* Generic "select all" */
.vbo-fieldset-select-all {
  text-align: center;
  width: 18%;
  padding: 0.7em 0;
}

.vbo-fieldset-select-all .form-item {
  margin-bottom: 0;
}

.vbo-fieldset-select-all .fieldset-wrapper {
  padding: 0;
}
